.navbar {
    display: flex;
    justify-content: space-between;
    display: center;
}

.navbar__item {
    list-style-type: none;
    padding: 1.5rem;
}

.nav img {
    float: left;
    width: 100px;
    height: 100px;
  }

.nav {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}